

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">{{ .Site.Title }}</a>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" target="_blank" href="{{ .Site.Params.cv_name }}">CV</a>
      </li>
    {{- range $index, $publications := .Site.Params.publications -}}
      <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="#{{ $publications.cat_id }}" >{{ $publications.year }}</a>
      </li>
    {{- end -}}
    </ul>
  </div>
</nav>

<!--
<nav class="navbar navbar-light navbar-expand-lg bg-light justify-content-lg-center justify-content-space-between fixed-top">
    <a class="navbar-brand d-md-none d-inline" href="">Brand</a>
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link" href="#"><i class="fa fa-search mr-1"></i></a>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-md-center text-left">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link navbar-brand mx-0 d-none d-md-inline" href="">Brand</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-facebook mr-1"></i></a> </li>
            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-twitter"></i></a> </li>
        </ul>
    </div>
</nav>
-->
<div class="header">
	  <img src={{ "profile.jpg" | absURL }} class="profile_image">
    	<!--<<p class="profile_image">HELLO text</p>-->
	<!--<h1 class="site-title">{{ .Site.Title }}</h1>-->
	

		<!--
      {{- if isset .Site.Params "subtitle" -}}
      <h2>{{ .Site.Params.Subtitle | markdownify }}</h2>
      {{- end -}}
    -->

<br> 
  <div class="site-affilation">
		<span class="affilation">
			{{- range $index, $key := .Site.Params.affilation -}}
			<ul class="flat list-style-position: outside;"> 
				<li class="position", style = "padding-left:.5em; text-indent:-.5em;">{{$key.position}}</li>
				  <ul class="affilation">{{$key.dept}}</ul>
          {{ if ($key.name) }}
        <li list-style-position: outside>
				  <ul style="margin-left:2em; padding-bottom: 0;  padding-left:-.5em; text-indent:-1em; display:block;"> {{$key.name}}</ul>
          {{ end }}
          {{ if ($key.name2) }}
				  <ul style="margin-left:2em; padding-bottom: 0; padding-left:-.5em; text-indent:-1em; "> {{$key.name2}} </ul>
          <ul style="margin-left:2em; padding-bottom: 0; padding-left:1em; text-indent:-.5em; ">{{$key.name3}} </ul> <br>
        </li>
        {{ end }}
        <br>
			</ul>
			{{- end -}}
		</span>
	</div>
  
	<nav class="nav social">
		<ul class="flat">
			{{- range $index, $key := .Site.Params.Social -}}
			<a href="{{ $key.url }}"  target="_blank"  title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i>  </a>
			{{- end -}}

			<a href="{{ $.Site.Params.GoogleScholar }}"  target="_blank"  class="ai ai-google-scholar ai-1-5x"></a>

			{{ if or (.Site.Params.blog) (.Site.Params.cv_name) }}

			{{- with .Site.Params.blog -}}
			<a href="{{ . }}"  target="_blank" class="blog_cv">[blog]</a>
			{{- end -}}

			{{ with .Site.Params.cv_name }}
			<a href="{{ . }}"  target="_blank" class="ai ai-cv ai-1-5x"></a>
			{{ end }}
			{{ end }}
		</ul>
		<br>
	</nav>

	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li><a href="{{ .URL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
  <div class="introduction" style="padding-top: 10px;">
    {{- range $index, $key := .Site.Params.Introduction.paragraph -}}
    <span>
      {{ $key.text  | markdownify }}
    </span>
    <br>
    {{- end -}}
    <span>
      <b>Interests:</b> {{ $.Site.Params.interests | markdownify }}
    </span>
  <!--
     First put an empty hide button so that is the default
     https://stackoverflow.com/a/18179404
   -->
  <input type="radio" id="show" name="group">
  <input type="radio" id="hide" name="group" checked>
  <label for="hide" class="hide"></label>
  <label for="show" class="show"></label>
  <span id="content"><br>
    {{ $.Site.Params.bio }}
  </span>
  
</div>
