


{{- range $index, $projects_map := $.Site.Params.projects -}}{{ end -}}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">{{ .Site.Title }}</a>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" target="_blank" href="{{ .Site.Params.cv_name }}">CV</a>
      </li>
    {{- range $index, $publications := .Site.Params.publications -}}
      <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="#{{ $publications.cat_id }}" >{{ $publications.year }}</a>
      </li>
    {{- end -}}
    </ul>
  </div>
</nav>

<!--
<nav class="navbar navbar-light navbar-expand-lg bg-light justify-content-lg-center justify-content-space-between fixed-top">
    <a class="navbar-brand d-md-none d-inline" href="">Brand</a>
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link" href="#"><i class="fa fa-search mr-1"></i></a>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-md-center text-left">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link navbar-brand mx-0 d-none d-md-inline" href="">Brand</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-facebook mr-1"></i></a> </li>
            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-twitter"></i></a> </li>
        </ul>
    </div>
</nav>
-->
<div class="header">
	<img src={{ "profile.jpg" | absURL }} class="profile_image">
	<!--<h1 class="site-title">{{ .Site.Title }}</h1>-->
	<h1> </h1>
	<div class="site-affilation">
		<span class="affilation">
			{{- range $index, $key := .Site.Params.affilation -}}
			<ul class="flat">
				<li class="position">{{$key.position}}</li><br>
				<li class="position">{{$key.dept}}</li><br>
				<li class="position">{{$key.name}}</li><br>
			</ul>
			{{- end -}}
			<ul class="flat">
				<li class="position"> </li><br>
			</ul>
		</span>
	</div>

		<!--
      {{- if isset .Site.Params "subtitle" -}}
      <h2>{{ .Site.Params.Subtitle | markdownify }}</h2>
      {{- end -}}
    -->

	<nav class="nav social">
		<ul class="flat">
			{{- range $index, $key := .Site.Params.Social -}}
			<a href="{{ $key.url }}"  target="_blank"  title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i>  </a>
			{{- end -}}

			<a href="{{ $.Site.Params.GoogleScholar }}"  target="_blank"  class="ai ai-google-scholar ai-1-5x"></a>

			{{ if or (.Site.Params.blog) (.Site.Params.cv_name) }}

			{{- with .Site.Params.blog -}}
			<a href="{{ . }}"  target="_blank" class="blog_cv">[blog]</a>
			{{- end -}}

			{{ with .Site.Params.cv_name }}
			<a href="{{ . }}"  target="_blank" class="ai ai-cv ai-1-5x"></a>
			{{ end }}
			{{ end }}
		</ul>
		<br>
	</nav>

	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li><a href="{{ .URL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>

</div>
