<div class="introduction">
		<br>
	<h5 id="Podcast"></h5>
	<div class="year" id="Podcast">Podcast</div>
	<ul style="list-style: none;">
		<br>
		<li list-style-position: outside>
			<p> I co-host <a href="https://anchor.fm/hidden-curriculum" target="_blank" >The Hidden Curriculum</a> with <a href="https://sebastiantellotrillo.com" target="_blank" >Sebastian Tello-Trillo</a>.</p>
			<p> We aim to cover topics relevant to a (mostly applied) researcher's life with a focus on things that are not formally taught in graduate school. If you have an idea for an episode, guest, or would like to be a guest please let Sebastian and I know. You can find some material related to specific episodes below. </p>
			<br>
			<br>
				<ul style="list-style: none;">
				  <li list-style-position: outside> <p class="collaborators"> [<a href="https://hollina.github.io/make-a-job-market-website.html" target="_blank" >Step-by-step guide to creating a job market website</a>]</p></li>
				  <li list-style-position: outside> <p class="collaborators"> [<a href="https://hollina.github.io/managing-references.html" target="_blank" >Guide to managing references using Zotero</a>] </p></li>
				</ul>
		</li>
	</ul>
</div>


