<div class="introduction">
	<h5 id="Teaching"></h5>
	<div class="year" id="Teaching">Teaching</div>
	<br>
	<ul style="list-style: none;">
		<li list-style-position: outside>
			<p class="collaborators"> Indiana University </p>
				<ul style="list-style: none;">
				  <li list-style-position: outside> <p class="publications"> SPEA-H 124: Overview of the U.S. health care system</p> <p class="collaborators">, 2015- </p></li>
				  <li list-style-position: outside> <p class="publications"> SPEA-H 455: Health industry regulation</p> <p class="collaborators">, 2022- </p></li>
				  <li list-style-position: outside> <p class="publications"> SPEA-H 524: Health industry regulation</p> <p class="collaborators">, 2017- </p></li>
				  <li list-style-position: outside> <p class="publications"> SPEA-V 506: Statistical analysis for effective decision making</p> <p class="collaborators">, 2018- </p></li>
				  <li list-style-position: outside> <p class="publications"> SPEA-P 764: Seminar in policy analysis</p> <p class="collaborators">, 2021- </p></li>
				</ul>
				<br>
			<p class="collaborators"> University of Arizona </p>
			<ul style="list-style: none;">
				<li list-style-position: outside> <p class="publications"> Economics 323: The economics of sports</p> <p class="collaborators">, 2014 </p></li>
				<li list-style-position: outside> <p class="publications"> Economics 371: Economic development</p> <p class="collaborators">, 2013 </p></li>
				<li list-style-position: outside> <p class="publications"> Economics 330: Macroeconomic and global institutions and policy</p> <p class="collaborators">, 2012 </p></li>
			</ul>
		</li>
	</ul>
</div>
